/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:ital,wght@0,400;1,700#display=swap');

/*
.............................................................................................
..........................................################...................................                                     
..........................................###############....................................                                      
.............................................................................................                       
.............................................................................................                                          
................................###################..........................................                                           
................................#################............................................                                             
.............................................................................................
.............................................................................................                                                
..........................................#####..............................................                                               
..........................................####...®...........................................                                         
.............................................................................................                                    
                            ®®®®®   ®®  ®®    ®®®®®    ®®®®                                   
                            ®®      ®®  ®®    ®®       ®®
                            ®®®®    ®®  ®®    ®®®®     ®®®                      
                            ®®      ®®  ®®    ®®         ®®                              
                            ®®      ®®®®®®    ®®®®®    ®®®®  ®

  ®®®®®   ®®®®®    ®®®®®    ®®  ®®        ®®®®     ®®®®®    ®®  ®®    ®®®®®    ®®®®®    ®®®®®                                                
  ®® ®®   ®® ®®    ®®       ®®® ®®        ®®       ®® ®®    ®®  ®®    ®® ®®    ®®®®®    ®®            
  ®® ®®   ®®®®®    ®®®®     ®®®®®®        ®®®      ®® ®®    ®®  ®®    ®®®®®    ®®       ®®®®     
  ®® ®®   ®®       ®®       ®® ®®®          ®®     ®® ®®    ®®  ®®    ®®®®     ®®®®®    ®®     
  ®®®®®   ®®       ®®®®®    ®®  ®®        ®®®®     ®®®®®    ®®®®®®    ®® ®®    ®®®®®    ®®®®® 
*/


// Reset
html, body {
  margin: 0;
  padding: 0;
  background-color: #faf3f6 !important;
}