<img src="{{ fastAssets }}/fues-reg-light.svg" aria-label="fuesorg logo" class="logo"/>
<h1>Fues®<br/>AngFireStarter</h1>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="profile" *ngIf="auth.user$ | async as user; else login">
  <img src="{{ user.photoURL }}" alt="{{ user.displayName }}" />
  <h4>Display Name: {{ user.displayName }}</h4>
  <h4>Email: {{ user.email }}</h4>
  <pre> {{ user | json }} </pre>
  <hr>
  <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>
<div class="profile">
  <a class="button" href="/secure">A Secure Route&nbsp;&rarr;</a>
</div>
<ng-template #login>
  <button class="button" (click)="auth.googleSignIn()"><span role="img"><img src="{{ fastAssets }}/brands/g-google-color.svg" aira-label="google g" /></span>Login with Google</button>
  <br/>
  <button class="button" (click)="auth.githubSignIn()"><span role="img"><img src="{{ fastAssets }}/brands/github.svg" aira-label="github" class="big"/></span>Login with GitHub</button>
</ng-template>
<router-outlet></router-outlet>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->