// @navalmonga
.neo-drop-shadow {
  box-shadow: 
    10px 10px 16px 0 rgba(17, 17, 17, 0.25),
    -10px -10px 16px 0 rgba(241, 241, 241, 0.3);
}

.neo-inset-shadow {
  box-shadow: 
    10px 10px 16px 0 rgba(241, 241, 241, 0.3) inset,
    -10px -10px 16px 0 rgba(17, 17, 17, .25) inset;
}

.logo {
  height: 128px;
  display: block;
  padding-top: 12px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  text-transform: uppercase;
}

.profile {
  img {
    display: block;
    margin: 0 auto;
    height: 96px;
    border-radius: 50%;
  }
  padding: 1rem 10rem;
  pre {
    text-align: left;
    padding: 1rem;
    background-color: #222222;
    color: #faf3f6;
    border-radius: 0.2rem;
  }
}

.button {
  font-family: 'IBM Plex Mono', monospace;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  padding: 0 1rem;
  margin: 0 auto;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  width: 12rem;
  height: 3rem;
  background-color: #b52e31;
  color: #f1f1f1;
  @extend .neo-drop-shadow;
  border: none;
  border-radius: 2rem;
  transition: all 0.1s linear;
  span {
    flex: 0.5;
    img {
      padding: 0.2rem;
      margin-right: 1rem;
      width: 1.5rem;
    }
  }
  &:hover {
    cursor: pointer;
    background-color:transparent;
    @extend .neo-inset-shadow;
    color: #b52e31;
    font-weight: 700;
  }
}
.secure {
  justify-content: center;
}